[Unit]
Description=${DESCRIPTION}
After=network-online.target

[Service]
ExecStart=${EXEC_START}
Restart=always
WorkingDirectory=${WORKING_DIR}
${ENV}

[Install]
WantedBy=multi-user.target

